<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg%n"/>

    <property name="ORDER_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - [%X{email}] %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="ORDER_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${ORDER_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="OrderLogger" level="INFO" additivity="false">
        <appender-ref ref="ORDER_STDOUT"/>
    </logger>

    <logger name="org.hibernate.SQL" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.shop.controller" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.shop.service" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.cache" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.zaxxer.hikari" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.orm.jdbc.bind" level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache.kafka" level="OFF" additivity="false"/>
    <logger name="org.springframework.kafka" level="OFF" additivity="false"/>

    <!-- name: 로거 이름, level: 로깅 레벨, additivity: 부모 로거에 로그를 전달할 지 여부 -->
    <!-- <appender-ref>: 이 로거에서 사용할 appender를 참조. -->
</configuration>