<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" rel="icon"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>토스페이먼츠 샘플 프로젝트</title>
</head>

<body>
<div class="box_section" style="width: 600px">
    <img src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png" width="100px"/>
    <h2>결제를 완료했어요</h2>

    <div class="p-grid typography--p" style="margin-top: 50px">
        <div class="p-grid-col text--left"><b>결제금액</b></div>
        <div class="p-grid-col text--right" id="amount" th:text="${amount} + '원'"></div>
    </div>
    <div class="p-grid typography--p" style="margin-top: 10px">
        <div class="p-grid-col text--left"><b>주문번호</b></div>
        <div class="p-grid-col text--right" id="orderId" th:text="${orderId}"></div>
    </div>
    <div class="p-grid typography--p" style="margin-top: 10px">
        <div class="p-grid-col text--left"><b>paymentKey</b></div>
        <div class="p-grid-col text--right" id="paymentKey" style="white-space: initial; width: 250px"
             th:text="${paymentKey}"></div>
    </div>
    <div class="p-grid" style="margin-top: 30px">
        <button class="button p-grid-col5"
                onclick="location.href='https://docs.tosspayments.com/guides/v2/payment-widget/integration';">연동 문서
        </button>
        <button class="button p-grid-col5" onclick="window.location.href='/products.html';"
                style="background-color: #e8f3ff; color: #1b64da">초기 화면
        </button>
    </div>

</div>
<div class="box_section" style="width: 600px; text-align: left;">
    <b>Response Data :</b>
    <div id="response" style="white-space: initial"></div>
</div>

<script>
    // 쿼리 파라미터 값을 서버로 전달해 결제 요청할 때 보낸 데이터와 동일한지 반드시 확인하세요.
    // 클라이언트에서 결제 금액을 조작하는 행위를 방지할 수 있습니다.
    const urlParams = new URLSearchParams(window.location.search);

    const request = {
        paymentKey: urlParams.get("paymentKey"),
        orderId: urlParams.get("orderId"),
        amount: urlParams.get("amount"),
    };

    async function confirm() {
        const response = await fetch("/api/payment/confirm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(request),
        });

        const requestId = response.headers.get("X-Request-Id");

        const json = await response.json();
        if (json.code === "ALREADY_PROCESSED_PAYMENT") {
            window.location.href = 'checkout.html';
        }

        if (!response.ok) {
            throw {message: json.message, code: json.code};
        }

        return {data: json, requestId};
    }

    // async function sendEmail(requestId) {
    //     await fetch("/api/payment/email", {
    //         method: "POST",
    //         headers: {
    //             "Content-Type": "application/json",
    //             "X-Request-Id": requestId,
    //         },
    //         body: JSON.stringify(request),
    //     });
    // }

    async function processPayment() {
        try {
            const data = await confirm();
            document.getElementById("response").innerHTML = `<pre>${JSON.stringify(data, null, 4)}</pre>`;
            // await sendEmail(data.requestId);
        } catch (err) {
            window.location.href = `/payment/fail?message=${err.message}&code=${err.code}`;
        }
    }

    processPayment();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");

    orderIdElement.textContent = urlParams.get("orderId");
    const amount = urlParams.get("amount");
    if (amount) {
        amountElement.textContent = Number(amount).toLocaleString() + "원";
    }
    paymentKeyElement.textContent = urlParams.get("paymentKey");
</script>
</body>
</html>